<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     		http://cxf.apache.org/jaxws  
       		http://cxf.apache.org/schemas/jaxws.xsd
       		http://cxf.apache.org/jaxrs
			http://cxf.apache.org/schemas/jaxrs.xsd">
	<!--  cxf配置  -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />

	<jaxws:endpoint id="soap"
		implementor="com.blackbread.webservice.Hello" address="/soap">
	</jaxws:endpoint>
	<jaxrs:server id="rest" serviceClass="com.blackbread.webservice.Hello"
		address="/rest">
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
	</jaxrs:server>
	<!--  cxf配置  -->
</beans>