<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- JDBC模板 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dynamicDataSource" />
	</bean>

	<!-- 配置动态数据源 -->
	<bean id="dynamicDataSource" class="com.blackbread.spring.db.dynamic.DynamicDataSource">
		<property name="dataSourceEntry" ref="dataSourceEntry" />
		<!-- 通过key-value的形式来关联数据源 -->
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry value-ref="C3P0_POSTGIS" key="C3P0_POSTGIS"></entry>
				<entry value-ref="C3P0_POSTGIS2" key="C3P0_POSTGIS2"></entry>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="C3P0_POSTGIS" />
	</bean>

	<!-- database config -->
	<bean id="C3P0_POSTGIS" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${postgis.driverClass}" />
		<property name="jdbcUrl" value="${postgis.jdbcUrl}" />
		<property name="user" value="${postgis.username}"></property>
		<property name="password" value="${postgis.password}"></property>
		<property name="minPoolSize" value="${postgis.miniPoolSize}" />
		<property name="maxPoolSize" value="${postgis.maxPoolSize}" />
		<property name="initialPoolSize" value="${postgis.initialPoolSize}" />
		<property name="maxIdleTime" value="${postgis.maxIdleTime}" />
		<property name="acquireIncrement" value="${postgis.acquireIncrement}" />
		<property name="acquireRetryAttempts" value="${postgis.acquireRetryAttempts}" />
		<property name="acquireRetryDelay" value="${postgis.acquireRetryDelay}" />
		<property name="testConnectionOnCheckin" value="${postgis.testConnectionOnCheckin}" />
		<property name="testConnectionOnCheckout" value="${postgis.testConnectionOnCheckout}" />
		<property name="autoCommitOnClose" value="${postgis.autoCommitOnClose}" />
		<property name="idleConnectionTestPeriod" value="${postgis.idleConnectionTestPeriod}" />
		<property name="checkoutTimeout" value="${postgis.checkoutTimeout}" />
		<property name="numHelperThreads" value="${postgis.numHelperThreads}" />
	</bean>
	<bean id="C3P0_POSTGIS2" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${postgis-115.driverClass}" />
		<property name="jdbcUrl" value="${postgis-115.jdbcUrl}" />
		<property name="user" value="${postgis-115.username}"></property>
		<property name="password" value="${postgis-115.password}"></property>
		<property name="minPoolSize" value="${postgis-115.miniPoolSize}" />
		<property name="maxPoolSize" value="${postgis-115.maxPoolSize}" />
		<property name="initialPoolSize" value="${postgis-115.initialPoolSize}" />
		<property name="maxIdleTime" value="${postgis-115.maxIdleTime}" />
		<property name="acquireIncrement" value="${postgis-115.acquireIncrement}" />
		<property name="acquireRetryAttempts" value="${postgis-115.acquireRetryAttempts}" />
		<property name="acquireRetryDelay" value="${postgis-115.acquireRetryDelay}" />
		<property name="testConnectionOnCheckin" value="${postgis-115.testConnectionOnCheckin}" />
		<property name="testConnectionOnCheckout" value="${postgis-115.testConnectionOnCheckout}" />
		<property name="autoCommitOnClose" value="${postgis-115.autoCommitOnClose}" />
		<property name="idleConnectionTestPeriod" value="${postgis-115.idleConnectionTestPeriod}" />
		<property name="checkoutTimeout" value="${postgis-115.checkoutTimeout}" />
		<property name="numHelperThreads" value="${postgis-115.numHelperThreads}" />
	</bean>
	<!--配置数据源切换实现类 -->
	<bean id="dataSourceSwitch" class="com.blackbread.spring.db.dynamic.DataSourceSwitch">
		<property name="dataSourceEntry" ref="dataSourceEntry"></property>
	</bean>
	<aop:config>
		<!-- 切面数据源进行切换 -->
		<aop:aspect id="dataSourceSwitchAspect" ref="dataSourceSwitch">
			<aop:before method="switchSource"
				pointcut="execution(* com.blackbread.service.*Service.list*(..)) and args(type,..)"
				arg-names="type" />
		</aop:aspect>
	</aop:config>
	<!-- 配置数据源切换实现类 -->
	<bean id="dataSourceEntry" class="com.blackbread.spring.db.dynamic.DataSourceEntryImpl" />
	<aop:config>
		<!-- 切面还原默认数据源 -->
		<aop:aspect id="dataSourceHolderAdviceAspect" ref="dataSourceEntry">
			<aop:after method="restore"
				pointcut="execution(* com.blackbread.service.*Service.*(..))" />
		</aop:aspect>
	</aop:config>
</beans>
